body{
    background-color:black;
    background-image: url("ASSETS/compose.webp");
    background-image: url("https://idiomaindependente.com.br/wp-content/uploads/2025/02/Capitao-America.jpg");
    background-repeat: no-repeat;
    color:rgb(250, 250, 252);
}

img{
    width: 300px;
    border: 5px solid rgb(36, 7, 201);
    border-radius: 50px;
}

footer p{
    color:yellow;

}

h1{
    font-family: 'Streamster', cursive;
    color: rgb(236, 17, 17);
    font-size: 50px;
    text-align: center;
    padding: 100px;
}